:root {
  --heading-font-family: "Poppins", sans-serif;
  --default-font-family: "Source Sans Pro", sans-serif;
}

.navagation-links {
  font-family: var(--default-font-family);
}

.homepage-header {
  background: linear-gradient(
    to bottom right,
    #948fde,
    #c7cefc,
    #e0e3fe,
    #f0effa,
    #f9f9fe
  );
  margin: 250px 0px 20px 0px;
  padding: 60px 20px;
  text-align: center;
}
h1 {
  font-family: var(--heading-font-family);
  font-size: 100px;
  font-weight: 400;
  padding-top: 30px;
  opacity: 0.9;
}
h2 {
  font-family: var(--default-font-family);
  font-size: 55px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  opacity: 0.7;
}
div.container {
  text-align: center;
}
.photo-me {
  padding: 100px 120px 50px 120px;
}
p {
  font-family: var(--default-font-family);
  font-size: 22px;
  opacity: 0.8;
  padding-left: 160px;
  padding-right: 160px;
}
p.indent {
  text-indent: 30px;
}
.business {
  color: black;
  font-weight: bolder;
}
.contact-header {
  background: linear-gradient(
    to bottom right,
    #948fde,
    #c7cefc,
    #e0e3fe,
    #f9f9fe
  );
  margin: 200px 0px 20px 0px;
  padding: 50px 20px;
  text-align: center;
}
.contact {
  padding: 20px 0;
}
.email {
  margin-top: 50px;
  margin-bottom: 20px;
}
.email-link {
  color: black;
  font-family: var(--default-font-family);
  font-size: 35px;
  opacity: 0.75;
  text-decoration: none;
}
.contact-icons {
  padding: 20px;
}
.ig-icon {
  color: black;
  font-size: 45px;
  opacity: 0.75;
}
.linkedin-icon {
  color: black;
  font-size: 45px;
  opacity: 0.75;
}
.github-icon {
  color: black;
  font-size: 45px;
  opacity: 0.75;
}
.art-padding {
  padding: 80px 20px;
}
.front-end-padding {
  padding-top: 140px;
}
#weather-side-space {
  padding: 20px 60px;
}
#houseplants-side-space {
  padding: 20px 80px 20px 60px;
}
