:root {
  --branding-background: linear-gradient(
    to bottom right,
    #948fde,
    #c7cefc,
    #e0e3fe,
    #f0effa,
    #f9f9fe
  );
  --branding-color: #948fde;
  --heading-font-family: "Poppins", sans-serif;
  --default-font-family: "Source Sans Pro", sans-serif;
}

.navagation-links {
  font-family: var(--default-font-family);
}

.homepage-header {
  background: var(--branding-background);
  margin: 250px 0px 20px 0px;
  padding: 60px 20px;
  text-align: center;
}
h1 {
  font-family: var(--heading-font-family);
  font-size: 100px;
  font-weight: 400;
  padding-top: 30px;
  opacity: 0.9;
}
h2 {
  font-family: var(--default-font-family);
  font-size: 55px;
  line-height: 1.2;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  opacity: 0.7;
}
div.container {
  text-align: center;
}
.photo-me {
  padding: 120px 160px 40px 160px;
}
p {
  font-family: var(--default-font-family);
  font-size: 22px;
  line-height: 2;
  opacity: 0.8;
  padding-left: 160px;
  padding-right: 160px;
}
p.indent {
  text-indent: 30px;
}
.business {
  color: black;
  font-weight: bolder;
}
.contact-header {
  background: var(--branding-background);
  margin: 200px 0px 20px 0px;
  padding: 50px 20px;
  text-align: center;
}
.contact {
  padding: 20px 0;
}
.email {
  margin-top: 50px;
  margin-bottom: 20px;
}
.email-link {
  color: black;
  font-family: var(--default-font-family);
  font-size: 35px;
  opacity: 0.75;
  text-decoration: none;
  transition: all 200ms ease;
}
.email-link:hover {
  color: var(--branding-color);
}
.second-email-link {
  padding: 20px;
  transition: all 200ms ease;
}
.second-email-link:hover {
  color: var(--branding-color);
}
.contact-icons {
  padding: 20px;
}
.ig-icon {
  color: black;
  font-size: 45px;
  opacity: 0.75;
  transition: all 200ms ease;
}
.ig-icon:hover {
  color: var(--branding-color);
}
.linkedin-icon {
  color: black;
  font-size: 45px;
  opacity: 0.75;
  transition: all 200ms ease;
}
.linkedin-icon:hover {
  color: var(--branding-color);
}
.github-icon {
  color: black;
  font-size: 45px;
  opacity: 0.75;
  transition: all 200ms ease;
}
.github-icon:hover {
  color: var(--branding-color);
}
.art-padding {
  padding: 80px 20px;
}
.front-end-padding {
  padding: 140px 200px 160px 200px;
}
#weather-side-space {
  padding: 20px 60px 100px 60px;
}
#houseplants-side-space {
  padding: 20px 80px 20px 80px;
}
.houseplants-spacing {
  padding-top: 30px;
}
.frontend-project-link {
  background: var(--branding-background);
  border: solid 1px #c7cefc;
  border-radius: 6px;
  box-shadow: rgba(112, 119, 180, 0.9) 0px 10px 18px 0;
  color: black;
  font-family: var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  opacity: 0.8;
  padding: 30px;
  text-decoration: none;
  transition: all 200ms ease;
}
.frontend-project-link:hover {
  color: var(--branding-color);
}
.footer {
  margin-top: 235px;
  text-align: center;
}
.footer-style {
  color: black;
  font-family: var(--default-font-family);
  font-size: 20px;
  font-weight: bolder;
  opacity: 0.7;
  text-decoration: none;
  transition: all 200ms ease;
}
.footer-style:hover {
  color: var(--branding-color);
}
@media (max-width: 280px) {
  .frontend-project-link {
    font-size: 8px;
    padding: 10px;
  }
}
@media (max-width: 559px) {
  .frontend-project-link {
    font-size: 13px;
    padding: 15px;
  }
  .front-end-padding {
    padding: 120px 0;
  }
}
@media (min-width: 560px) {
  .frontend-project-link {
    font-size: 16px;
    padding: 15px;
  }
  .front-end-padding {
    padding: 120px 0;
  }
}

@media (max-width: 700px) {
  h1 {
    font-size: 30px;
    text-align: center;
  }
  h2 {
    font-size: 18px;
    text-align: center;
  }
  .footer {
    margin-top: 400px;
    margin-bottom: 0px;
    text-align: center;
  }
  .footer-style {
    font-size: 16px;
  }
  .photo-me {
    padding: 60px 50px 0px 50px;
  }
  p {
    font-size: 16px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .email-link {
    font-size: 18px;
  }
  .second-email-link {
    font-size: 18px;
  }
  .ig-icon {
    font-size: 26px;
  }
  .linkedin-icon {
    font-size: 26px;
  }
  .github-icon {
    font-size: 26px;
  }
}
@media (min-width: 992px) {
  .frontend-project-link {
    font-size: 20px;
    padding: 30px;
  }
}
